body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: small;
}
section {
    max-width: 1200px;
    margin: 20px 5px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container{
    width: 100%;
    height: auto;
    margin: 0px 0px;
}
.container>h3{
    margin: 5px 0px;
}
.container>img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product_color{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.product_color>p{
    margin: 0px;
}
#red{
    background-color: red;
    border: 1px solid;
    border-radius: 50%;
    width: 17px;
    height: 20px;
    cursor: pointer;
}
#grey{
    background-color:grey;
    border: 1px solid;
    border-radius: 50%;
    width: 17px;
    height: 20px;
    cursor: pointer;
}
#black{
    background-color: black;
    border: 1px solid;
    border-radius: 50%;
    width: 17px;
    height: 20px;
    cursor: pointer;
}
.product_size{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 10px;
}
.buy-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
.buy-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    max-width: 100%;
}


.color-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
/* Style for the selected color */
.selected-color {
    border: 2px solid #333;
}